$primary-color: #59a1d0;
$light-primary-color: #c3d6e3;

$secondary-color: #3580b2;
$light-secondary-color: #f7fafd;

$black-font-color: #333333;

$background-grey-color: #eeeeee45;
$line-grey-color: #eee;
$light-grey-color: #c6cbd4;
$grey-color: #a8b2b9;
$dark-grey-color: #757779;

$green-color: #52ad8c;
$red-color: #C86D61;
$yellow-color: #ecc15f;

$navbar-height: 48px;

$info-equipe-max-width: 824px;
