.photo {
    background-color: $grey-color;
    vertical-align: middle;
    display: inline-block;
    border-radius: 32px;
    overflow: hidden;
    height: 32px;
    width: 32px;

    app-icon {
        padding: 8px;
    }
}