.mat-radio-button {
    .mat-radio-container,
    .mat-radio-outer-circle,
    .mat-radio-inner-circle {
        border-color: $grey-color;
        border-width: 1px;
        height: 16px;
        width: 16px;
    }
    
    &.mat-radio-checked .mat-radio-inner-circle {
        transform: scale(0.65);
    }
    
    .mat-radio-label {
        font: 500 13px "Gotham Book";
    }
}